%h1 Words
%p
  You have
  = @words.count
  words in database!

%table.table
  %thead
    %tr
      %th
        \#
      %th
        Value
      %th
        Language
  %tbody
    - @words.each do |word|
      %tr
        %td
          = word.value
        %td
          = word.language